body{
    background-color: #f1faee;
    margin: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
    background-color: #1d3557;
    padding: 7%;
    width: 50%;
    border-radius: 5%;
    border: 10px;
    border-style:inset;
    border-color: #e63946;
}

h1 {
    color: #f1faee;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}

ul{
    padding: 10px;
    color: #f1faee;
    width: 20% ;
    text-align: center;

}

li {
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
    padding: 4px 0;
    width: 60%;
    height: 100%;
    border-radius: 10%;
}

button {
    border-radius: 15%;
    padding: 5px;
    margin-left: 10px;

}

.btn-input

.apagar {
    margin-left: 7px;
}
